/* .homepage{
   margin-left: 300px;
   } */
body{
   font-weight: 700;
   font-size: 25px;
   font-family: Kalam, regular;
   margin-left: 50px;
   margin-top: 100px;
   background-clip:margin-box;
   background-color:#00903a;
   /* background-size:1450px 1250px; */
   background-attachment:scroll;
   * {
      margin: 0;
      padding: 0;
   }
   html {
      --font-stack--reading: 'IBM Plex Sans', sans-serif;
      --font-stack--heads: 'Patua One', cursive;
   }

   body {
      font-family: var(--font-stack--reading);
      width: 960px;
      margin: auto;
   }

   h1 {
      font-family: var(--font-stack--heads);
      font-size: 72px;
      text-align: center;
      margin: 14px 0 2px;
   }

   h2 {
      text-transform: capitalize;
      text-align: center;
      font-size: 1rem;
      font-weight: 600;
      margin: 12px 0 8px;
   }

   main {
      display: flex;
      justify-content: space-around;
   }

   section {
      width: 300px;
   }

   figure {
      position: relative;
      margin-left: 30px;
   }

   figure > figcaption {
      position: absolute;
      bottom: -40px;
      background-color: rgba(255, 255, 255, .9);
      /* width: 300px;
      height: 40px; */
      text-align: center;
      font-weight: 200;
      font-size: 14px;
      line-height: 40px;
      opacity: 0;
      transition: 350ms;
   }

   figure:hover > figcaption {
      opacity: 1;
      bottom: 0;
   }

   figure > img {
      color: #900;
      width: 100%;
   }

   figure + p {
      background-color: white;
      font-weight: 200;
      padding-top: 8px;
      position: relative;
   }

   a {
      text-decoration: none;
   }

img{
   margin-left: 200px;
}
